@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --radius-xs: 1px;
  --radius-sm: 1px;
  --radius-md: 1px;
  --radius-lg: 1px;
  --radius-xl: 1px;
  --radius-2xl: 1px;
  --radius-3xl: 1px;
  --radius-4xl: 1px;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
}
